{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime",
    "plugin:cypress/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "cypress/globals": true
  },
  "plugins": ["react", "@typescript-eslint", "import", "jsx-a11y", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ],
   "cypress/no-assigning-return-values": "error",
   "cypress/no-unnecessary-waiting": "error",
   "cypress/assertion-before-screenshot": "warn",
   "cypress/no-force": "warn",
   "cypress/no-async-tests": "error",
   "cypress/no-pause": "error"
  }
}