// Primary
$Primary: #0EB0A4;
$PLight: #96DED9;
$PDark: #2A333A;
// seconday
$Secondary: #1193FF;

// Texts
$PText: #FFF;
$DarkText: #0EB0A4;

// backgrounds
$Background: #000000;
$LightBackground: #F4F8FA;

// Em Font size
$em-base: 16px !default;
// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px) Borrowed from Zurb's Foundation 4
@function emCalc($pxWidth) {
  @return math.div($pxWidth, $em-base) * 1em;
}
