@use 'sass:math';
@import '../../styles/variables';

.container {
  width: 90%;
  max-width: 968px;
  margin: 20px auto 0 auto;
  .header {
    font-size: emCalc(32px);
    font-weight: 700;
    margin-bottom: 10px;
  }
}
